.s32 {
    font-size:32px;
}
.s24 {
    font-size:24px;
    color:#0089D0;
}
.s16 {
    font-size:16px;
}
.textColor{
    color:#0089D0;
}
.bgColor{
    background-color:#0089D0;
}
.button{
    background-color:#0089D0;
    height: 60px;
    width: 276px;
    border-radius: 10px;
}